<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="data:text/css;base64,<%= webtreemapCss %>">
  <title><%= bundles[0].name %> - Source Map Explorer</title>

  <style>
    html, body { height: 100% }

    body {
      font-family: sans-serif;
      font-size: 0.8em;
      margin: 0;
      display: flex;
    }

    select, .webtreemap-caption { font-family: sans-serif }

    #content {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 15px;
    }

    #header {
      display: flex;
      padding: 0 0 15px 15px;
      align-items: center;
    }
    #header > div {
      display: flex;
      margin-right: 10px;
    }
    #header label {
      margin-right: 5px;
    }
    #map {
      flex-grow: 1;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
    }
  </style>
</head>
<body>
  <div id="content">
    <% if(bundles.length > 1) {%>
    <div id="header">
      <div>
        <label for="bundle-select">Bundle:</label>
        <select id="bundle-select">
        <%_ bundles.forEach((bundle) => { _%>
          <option value="<%= bundle.name %>" gzip-size="<%= bundle.sizes.gzip %>" stat-size="<%= bundle.sizes.stat %>"></option>
        <%_ }); _%>
        </select>
      </div>
      <div>
        <label for="gzip-select">Size Type:</label>
        <select id="gzip-select">
          <option value="gzip">Gzipped</option>
          <option value="stat">Parsed</option>
        </select>
      </div>
    </div>
    <% } %>
    <div id="map"></div>
  </div>
</body>

<script>
var treeDataMaps = <%- JSON.stringify(treeDataMaps) %>;
</script>

<script src="data:application/javascript;base64,<%= webtreemapJs %>"></script>

<script>
  var selectedBundle = '<%- bundles[0].name %>';
  var sizeType = 'gzip';
  var bundleSelect;

  function updateSizeOptions(sizeType){
    const options = bundleSelect.querySelectorAll('option')
    options.forEach(option=>{
      const name = option.value;
      const size = option.getAttribute(`${sizeType}-size`);
      option.textContent = `${name} (${size})`
    })
  }

  function selectBundle(bundleId, sizeType) {
    appendTreemap(map, treeDataMaps[sizeType][bundleId]);
    updateSizeOptions(sizeType)
    document.title = bundleId + ' - Source Map Explorer - ' + sizeType;
  }

  var map = document.getElementById('map');

  <%_ if(bundles.length > 1) { _%>
  bundleSelect = document.getElementById('bundle-select');
  bundleSelect.addEventListener('change', function(event) {
    selectedBundle = event.target.value;
    selectBundle(selectedBundle, sizeType);
  })
  var gzipSelect = document.getElementById('gzip-select');
  gzipSelect.addEventListener('change', function(event) {
    sizeType = event.target.value;
    selectBundle(selectedBundle, sizeType);
  })
  <%_ } _%>

  window.addEventListener('resize', function() {
    selectBundle(selectedBundle, sizeType);
  });

  selectBundle(selectedBundle, sizeType);
</script>
<html>
