<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="data:text/css;base64,<%= webtreemapCss %>">
  <title><%= bundles[0].name %> - Source Map Explorer</title>

  <style>
    html, body { height: 100% }

    body {
      font-family: sans-serif;
      font-size: 0.8em;
      margin: 0;
      display: flex;
    }

    select, .webtreemap-caption { font-family: sans-serif }

    #content {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 15px;
    }

    #header {
      display: flex;
      padding: 0 0 15px 15px;
      align-items: center;
    }

    #header > * + * {
      margin-left: 5px;
    }

    .header-warning {
      cursor: pointer;
    }

    #map {
      flex-grow: 1;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
    }
  </style>
</head>
<body>
  <div id="content">
    <% if(bundles.length > 1 || options.gzip) {%>
    <div id="header">
      <% if(bundles.length > 1) {%>
        <label for="bundle-select">Bundle:&nbsp;</label>
        <select id="bundle-select">
        <%_ bundles.forEach((bundle, index) => { _%>
          <option value="<%= index %>"><%= bundle.name %> (<%= bundle.size %>)</option>
        <%_ }); _%>
        </select>
      <% } %>

      <% if(options.gzip) {%>
        <span class="header-warning" title="Due to the nature of compression a gzip file size is inaccurate. It means that removing a 1k gzipped file in a bundle may reduce the bundle size by less than 1k">
          ⚠️
        </span>
      <% } %>
    </div>
    <% } %>
    <div id="map"></div>
  </div>
</body>

<script>
const treeDataMap = <%- JSON.stringify(treeDataMap) %>;
</script>

<script src="data:application/javascript;base64,<%= webtreemapJs %>"></script>

<script>
  let selectedBundleId = '<%- 0 %>';

  function selectBundle(bundleId) {
    const bundle = treeDataMap[bundleId];
    appendTreemap(map, bundle.data);
    document.title = bundle.name + ' - Source Map Explorer';
  }

  const map = document.getElementById('map');

  <%_ if(bundles.length > 1) { _%>
  const bundleSelect = document.getElementById('bundle-select');
  bundleSelect.addEventListener('change', function(event) {
    selectedBundleId = bundleSelect.value;
    selectBundle(selectedBundleId);
  })
  <%_ } _%>

  window.addEventListener('resize', function() {
    selectBundle(selectedBundleId);
  });

  selectBundle(selectedBundleId);
</script>
<html>
